*.d
*.o
portal

.DS_Store
*.swp
*~.nib

build/
builds/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3
private/

portal.xcodeproj/xcuserdata/*
portal.xcodeproj/project.xcworkspace/xcuserdata/*
